body{
    background-color: lightgrey;
    background-image: url("../images/felix-mittermeier-nAjil1z3eLk-unsplash\ \(1\).jpg");
}
h2{
    color: orangered;
}
h1{
    color: white;
}
p {
    font-weight: bold;
}